html {
	background-color: #56baed;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
}

.container {
	width: 25%;
	margin: 10% 50%;
	float: left;
}

.row {
	text-align: center;
	padding-top: 10px;
}

#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 15px 23px;
	position: relative;
	margin: 10% 50%;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

.col-md-6 {
	padding-top: 5px;
}

.btn btn-success {
	font-size: 20px;
	margin-bottom: 10px;
}